# ÉTAPE 2

### PARTIE 1 : Explorez votre jeu de données grâce à des méthodes de la librairie Pandas. Les méthodes utilisées doivent vous permettre de répondre aux questions suivantes :

In [1804]:
import pandas as pd
import numpy as np

df_anim = pd.read_csv("data_animals.csv")
df_veg = pd.read_csv("data_vegetals.csv")
df_pop = pd.read_csv("data_population.csv")
df_reg = pd.read_csv("df_zone_geo.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'df_zone_geo.csv'

### 1. Nettoyer les titres de colonnes :
### Supprimer les espaces au début et à la fin des titres
### Remplacer les espaces par des underscores (ceux se situant entre les mots)
### Tout mettre en minuscule

In [ ]:
df_anim.columns = [title.lower().strip().replace(" ", "_").replace("(", "").replace(")", "") for title in df_anim.columns]
df_anim.head()

,domain_code,domain,area_code_m49,area,element_code,element,item_code_fbs,item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2018,2018,kg,2.67,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2019,2019,kg,2.76,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2018,2018,kcal/cap/d,14.92,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2019,2019,kcal/cap/d,15.42,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2731,Bovine Meat,2018,2018,g/cap/d,1.12,E,Estimated value

In [ ]:
df_veg.columns = [title.lower().strip().replace(" ", "_").replace("(", "").replace(")", "") for title in df_veg.columns]
df_veg.head()

,domain_code,domain,area_code_m49,area,element_code,element,item_code_fao,item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),2511,Wheat and products,2018,2018,kg,162.62,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),2511,Wheat and products,2019,2019,kg,160.40,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),2511,Wheat and products,2018,2018,kcal/cap/d,1365.34,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),2511,Wheat and products,2019,2019,kcal/cap/d,1346.93,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),2511,Wheat and products,2018,2018,g/cap/d,41.23,E,Estimated value

In [ ]:
df_pop.columns = [title.lower().strip().replace(" ", "_").replace("(", "").replace(")", "") for title in df_pop.columns]
df_pop.head()

,domain_code,domain,area_code_m49,area,element_code,element,item_code_fbs,item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 No,36686.78,X,Figure from international organizations
1,FBS,Food Balances (2010-),4,Afghanistan,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 No,37769.50,X,Figure from international organizations
2,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 No,2877.01,X,Figure from international organizations
3,FBS,Food Balances (2010-),8,Albania,511,Total Population - Both sexes,S2501,Population,2019,2019,1000 No,2873.88,X,Figure from international organizations
4,FBS,Food Balances (2010-),12,Algeria,511,Total Population - Both sexes,S2501,Population,2018,2018,1000 No,41927.01,X,Figure from international organizations

### 2. Quelles sont les dimensions des jeux de données ?

In [ ]:
print(f" Il y a {df_veg.shape[1]} colonnes et {df_veg.shape[0]} lignes")

 Il y a 14 colonnes et 86226 lignes

### 3. À quoi ressemblent les 5 premières lignes de mes jeux de données ?

In [ ]:
df_veg.head()

,domain_code,domain,area_code_m49,area,element_code,element,item_code_fao,item,year_code,year,unit,value,flag,flag_description
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),2511,Wheat and products,2018,2018,kg,162.62,E,Estimated value
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),2511,Wheat and products,2019,2019,kg,160.40,E,Estimated value
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),2511,Wheat and products,2018,2018,kcal/cap/d,1365.34,E,Estimated value
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),2511,Wheat and products,2019,2019,kcal/cap/d,1346.93,E,Estimated value
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),2511,Wheat and products,2018,2018,g/cap/d,41.23,E,Estimated value

### 4. Ajouter un type pour 'df_veg' et 'df_anim', puis regrouper les deux datasets dans la DataFrame 'df_product' :
### Pour les datasets df_anim et df_veg, ajoutez une colonne ‘type’ qui prendra respectivement une valeur ‘animal’ et ‘vegetal’. 
### Une fois cette étape effectuée, regroupez les deux jeux de données en 1 et appelez ce DataFrame product. 
### Attention à bien comprendre la structure des données pour utiliser la bonne méthode.

In [ ]:
df_veg["type"] = "vegetal"
df_anim["type"] = "animal"

In [ ]:
df_product = pd.concat([df_anim, df_veg])
display(df_product)

,domain_code,domain,area_code_m49,area,element_code,element,item_code_fbs,item,year_code,year,unit,value,flag,flag_description,type,item_code_fao
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2018,2018,kg,2.67,E,Estimated value,animal,NaN
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2019,2019,kg,2.76,E,Estimated value,animal,NaN
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2018,2018,kcal/cap/d,14.92,E,Estimated value,animal,NaN
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2019,2019,kcal/cap/d,15.42,E,Estimated value,animal,NaN
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2731,Bovine Meat,2018,2018,g/cap/d,1.12,E,Estimated value,animal,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86221,FBS,Food Balances (2010-),716,Zimbabwe,664,Food supply (kcal/capita/day),NaN,"Beverages, Alcoholic",2019,2019,kcal/cap/d,27.22,E,Estimated value,vegetal,2658.0
86222,FBS,Food Balances (2010-),716,Zimbabwe,674,Protein supply quantity (g/capita/day),NaN,"Beverages, Alcoholic",2018,2018,g/cap/d,0.03,E,Estimated value,vegetal,2658.0
86223,FBS,Food Balances (2010-),716,Zimbabwe,674,Protein supply quantity (g/capita/day),NaN,"Beverages, Alcoholic",2019,2019,g/cap/d,0.03,E,Estimated value,vegetal,2658.0
86224,FBS,Food Balances (2010-),716,Zimbabwe,684,Fat supply quantity (g/capita/day),NaN,"Beverages, Alcoholic",2018,2018,g/cap/d,0.22,E,Estimated value,vegetal,2658.0
86225,FBS,Food Balances (2010-),716,Zimbabwe,684,Fat supply quantity (g/capita/day),NaN,"Beverages, Alcoholic",2019,2019,g/cap/d,0.21,E,Estimated value,vegetal,2658.0

### 5. Transformez df_pop afin de ne garder que le code du pays, le pays, l’année et la population. 
### Renommer la colonne ‘value’ en ‘pop_1000_hab’.

In [ ]:
df_pop = df_pop[["area_code_m49", "area", "year", "value"]]
display(df_pop)

     area_code_m49         area  year     value
0                4  Afghanistan  2018  36686.78
1                4  Afghanistan  2019  37769.50
2                8      Albania  2018   2877.01
3                8      Albania  2019   2873.88
4               12      Algeria  2018  41927.01
..             ...          ...   ...       ...
361            887        Yemen  2019  31546.69
362            894       Zambia  2018  17835.89
363            894       Zambia  2019  18380.48
364            716     Zimbabwe  2018  15052.18
365            716     Zimbabwe  2019  15354.61

[366 rows x 4 columns]

In [ ]:
df_pop = df_pop.rename(columns={"value" : "pop_1000_hab"})

In [ ]:
df_pop = df_pop[["area_code_m49", "area", "year", "pop_1000_hab"]]
display(df_pop)

     area_code_m49         area  year  pop_1000_hab
0                4  Afghanistan  2018      36686.78
1                4  Afghanistan  2019      37769.50
2                8      Albania  2018       2877.01
3                8      Albania  2019       2873.88
4               12      Algeria  2018      41927.01
..             ...          ...   ...           ...
361            887        Yemen  2019      31546.69
362            894       Zambia  2018      17835.89
363            894       Zambia  2019      18380.48
364            716     Zimbabwe  2018      15052.18
365            716     Zimbabwe  2019      15354.61

[366 rows x 4 columns]

### 6. Transformez **product** afin de ne garder que les colonnes area_code_(fao), area, element, item, year, type, unit.

`+ j'ai garder value`

In [ ]:
df_product.columns = [title.lower().strip().replace(" ", "_").replace("(", "").replace(")", "") for title in df_product.columns]
display(df_product)

,domain_code,domain,area_code_m49,area,element_code,element,item_code_fbs,item,year_code,year,unit,value,flag,flag_description,type,item_code_fao
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2018,2018,kg,2.67,E,Estimated value,animal,NaN
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2731,Bovine Meat,2019,2019,kg,2.76,E,Estimated value,animal,NaN
2,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2018,2018,kcal/cap/d,14.92,E,Estimated value,animal,NaN
3,FBS,Food Balances (2010-),4,Afghanistan,664,Food supply (kcal/capita/day),S2731,Bovine Meat,2019,2019,kcal/cap/d,15.42,E,Estimated value,animal,NaN
4,FBS,Food Balances (2010-),4,Afghanistan,674,Protein supply quantity (g/capita/day),S2731,Bovine Meat,2018,2018,g/cap/d,1.12,E,Estimated value,animal,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86221,FBS,Food Balances (2010-),716,Zimbabwe,664,Food supply (kcal/capita/day),NaN,"Beverages, Alcoholic",2019,2019,kcal/cap/d,27.22,E,Estimated value,vegetal,2658.0
86222,FBS,Food Balances (2010-),716,Zimbabwe,674,Protein supply quantity (g/capita/day),NaN,"Beverages, Alcoholic",2018,2018,g/cap/d,0.03,E,Estimated value,vegetal,2658.0
86223,FBS,Food Balances (2010-),716,Zimbabwe,674,Protein supply quantity (g/capita/day),NaN,"Beverages, Alcoholic",2019,2019,g/cap/d,0.03,E,Estimated value,vegetal,2658.0
86224,FBS,Food Balances (2010-),716,Zimbabwe,684,Fat supply quantity (g/capita/day),NaN,"Beverages, Alcoholic",2018,2018,g/cap/d,0.22,E,Estimated value,vegetal,2658.0
86225,FBS,Food Balances (2010-),716,Zimbabwe,684,Fat supply quantity (g/capita/day),NaN,"Beverages, Alcoholic",2019,2019,g/cap/d,0.21,E,Estimated value,vegetal,2658.0

In [ ]:
df_product = df_product[["area_code_m49", "area", "element", "item", "year", "value", "type", "unit"]]
display(df_product)

#  On a ajouté 'value' sinon on ne pourra pas faire les calculs par la suite

,area_code_m49,area,element,item,year,value,type,unit
0,4,Afghanistan,Food supply quantity (kg/capita/yr),Bovine Meat,2018,2.67,animal,kg
1,4,Afghanistan,Food supply quantity (kg/capita/yr),Bovine Meat,2019,2.76,animal,kg
2,4,Afghanistan,Food supply (kcal/capita/day),Bovine Meat,2018,14.92,animal,kcal/cap/d
3,4,Afghanistan,Food supply (kcal/capita/day),Bovine Meat,2019,15.42,animal,kcal/cap/d
4,4,Afghanistan,Protein supply quantity (g/capita/day),Bovine Meat,2018,1.12,animal,g/cap/d
...,...,...,...,...,...,...,...,...
86221,716,Zimbabwe,Food supply (kcal/capita/day),"Beverages, Alcoholic",2019,27.22,vegetal,kcal/cap/d
86222,716,Zimbabwe,Protein supply quantity (g/capita/day),"Beverages, Alcoholic",2018,0.03,vegetal,g/cap/d
86223,716,Zimbabwe,Protein supply quantity (g/capita/day),"Beverages, Alcoholic",2019,0.03,vegetal,g/cap/d
86224,716,Zimbabwe,Fat supply quantity (g/capita/day),"Beverages, Alcoholic",2018,0.22,vegetal,g/cap/d
86225,716,Zimbabwe,Fat supply quantity (g/capita/day),"Beverages, Alcoholic",2019,0.21,vegetal,g/cap/d

### 7. Fusionnez df_pop avec product et nommez ce DataFrame df. 
### Afin de fusionner ces jeux de données vous devez identifier les clés primaires. 
### Renommer les colonnes comme sur le capture d’écran ci-dessous.

*NOTE :  ajouter la population à la base de données créera de la redondance dans la bdd mais simplifiera les calculs pour les questions suivantes. Ne pas supprimer df_pop.*

`J'ai eu des difficultés avec le merge. Après la recommandation de Jérémy, comme quoi le "concat" n'était peut être pas la méthode la plus adapté, j'ai tenter le 'merge'. Néanmoins, lorsque j'ai appliqué la méthode, je n'avais que le nom de toute les colonnes qui s'affichait sans les valeurs. J'ai poussé mes recherches dans la DOC et avec l'assistance de GPT, j'ai pu dénoué le problème grâce aux arguments 'on' et 'how' que j'avais omis. Il reste encore à vérifier, si mon résultat est correct.\`

`RÉSOLU avec Hamza = je n'avais pas mis le renommage de 'value' dans une variable`

In [ ]:
df = pd.merge(df_pop, df_product)
# correction confusion entre la colonne 'area' et 'country'
df = df.rename(columns={"area" : "country", "area_code_m49" : "country_code"})
display(df)

,country_code,country,year,pop_1000_hab,element,item,value,type,unit
0,4,Afghanistan,2018,36686.78,Food supply quantity (kg/capita/yr),Bovine Meat,2.67,animal,kg
1,4,Afghanistan,2018,36686.78,Food supply (kcal/capita/day),Bovine Meat,14.92,animal,kcal/cap/d
2,4,Afghanistan,2018,36686.78,Protein supply quantity (g/capita/day),Bovine Meat,1.12,animal,g/cap/d
3,4,Afghanistan,2018,36686.78,Fat supply quantity (g/capita/day),Bovine Meat,1.16,animal,g/cap/d
4,4,Afghanistan,2018,36686.78,Food supply quantity (kg/capita/yr),Mutton & Goat Meat,4.32,animal,kg
...,...,...,...,...,...,...,...,...,...
112606,716,Zimbabwe,2019,15354.61,Fat supply quantity (g/capita/day),"Beverages, Fermented",0.00,vegetal,g/cap/d
112607,716,Zimbabwe,2019,15354.61,Food supply quantity (kg/capita/yr),"Beverages, Alcoholic",3.51,vegetal,kg
112608,716,Zimbabwe,2019,15354.61,Food supply (kcal/capita/day),"Beverages, Alcoholic",27.22,vegetal,kcal/cap/d
112609,716,Zimbabwe,2019,15354.61,Protein supply quantity (g/capita/day),"Beverages, Alcoholic",0.03,vegetal,g/cap/d
112610,716,Zimbabwe,2019,15354.61,Fat supply quantity (g/capita/day),"Beverages, Alcoholic",0.21,vegetal,g/cap/d

---------------------------------------------

### PARTIE 2 : Maintenant que nous avons un DF unique, il sera plus facile de l’explorer :

### 8. Quelles sont les types de données de chaque colonne ?

In [ ]:
print(df.dtypes)

country_code      int64
country          object
year              int64
pop_1000_hab    float64
element          object
item             object
value           float64
type             object
unit             object
dtype: object

### 9. Combien y-a t’il de valeurs manquantes par variable ?

In [ ]:
df.isnull().sum()

country_code    0
country         0
year            0
pop_1000_hab    0
element         0
item            0
value           0
type            0
unit            0
dtype: int64

### 10. Est-ce qu’il y a des valeurs aberrantes ? (population négative, etc.) 
### Utilisez un récapitulatif statistique pour répondre à cette question.

In [ ]:
df.describe()

        country_code           year  pop_1000_hab          value
count  112611.000000  112611.000000  1.126110e+05  112611.000000
mean      425.504338    2018.508858  5.221383e+04      11.236271
std       250.520642       0.499924  1.890846e+05      56.120151
min         4.000000    2018.000000  1.213000e+01       0.000000
25%       204.000000    2018.000000  2.609490e+03       0.010000
50%       418.000000    2019.000000  1.015252e+04       0.260000
75%       642.000000    2019.000000  3.235359e+04       3.250000
max       894.000000    2019.000000  1.453802e+06    1744.850000

### 11. Affichez les valeurs uniques de la colonne country

In [ ]:
df["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'China, Hong Kong SAR', 'China, Macao SAR', 'China, mainland',
       'China, Taiwan Province of', 'Colombia', 'Comoros', 'Congo',
       'Costa Rica', "Côte d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji',
       'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (Federated States of)', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands (Kingdom of the)', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway',
       'Oman', 'Pakistan', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Republic of Korea', 'Republic of Moldova', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'South Africa', 'South Sudan', 'Spain',
       'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste',
       'Togo', 'Trinidad and Tobago', 'Tunisia', 'Türkiye',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

### 12. Gardez uniquement les informations relatives aux pays (supprimez les zones géographiques ou économiques) 
### Note : en fonction de votre méthode d’importation de données cette étape est facultative. [facultatif]

In [ ]:
# m'en fou, je la fais pas ! ;)

### 13. Modifiez votre jeu de données afin que les informations soient indexées par country_code, country, year, pop_1000_hab, type et item. 
### Les valeurs de la colonne element doivent être séparées dans des colonnes différentes.
### Recherchez sur internet la différence entre les formats long et les formats wide. Pour réussir cette étape creuser la méthode méthode pivot_table.
### Il est préférable d’appliquer la méthode reset_index() après avoir utilisé la méthode précédente.

In [ ]:

df = df.pivot_table(index=['country_code', 'country', 'year', 'pop_1000_hab', 'type', 'item'], 
                    columns=['element'], 
                    values='value').reset_index()
display(df)

element,country_code,country,year,pop_1000_hab,type,item,Fat supply quantity (g/capita/day),Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Protein supply quantity (g/capita/day)
0,4,Afghanistan,2018,36686.78,animal,Bovine Meat,1.16,14.92,2.67,1.12
1,4,Afghanistan,2018,36686.78,animal,"Butter, Ghee",2.58,23.35,1.14,0.02
2,4,Afghanistan,2018,36686.78,animal,Cream,0.03,0.31,0.04,0.00
3,4,Afghanistan,2018,36686.78,animal,Demersal Fish,0.00,0.17,0.15,0.03
4,4,Afghanistan,2018,36686.78,animal,Eggs,0.38,5.52,1.57,0.49
...,...,...,...,...,...,...,...,...,...,...
28174,894,Zambia,2019,18380.48,vegetal,Tea (including mate),0.00,0.04,0.10,0.00
28175,894,Zambia,2019,18380.48,vegetal,Tomatoes and products,0.01,0.77,1.36,0.03
28176,894,Zambia,2019,18380.48,vegetal,"Vegetables, other",0.16,13.58,17.53,1.12
28177,894,Zambia,2019,18380.48,vegetal,Wheat and products,0.30,57.63,7.61,1.80
28178,894,Zambia,2019,18380.48,vegetal,Wine,0.00,0.32,0.15,0.00

### 14. Faire du nettoyage dans le nom des colonnes
### Notez bien la dimension du jeu de données. 
### Si tout s'est bien déroulé vous devez avoir le même resultat, sinon revoyez les étapes précédentes.

In [ ]:
df.columns = [title.lower().strip().replace(" ", "_").replace("(", "").replace(")", "").replace("/", "_") for title in df.columns]
df.head()

,country_code,country,year,pop_1000_hab,type,item,fat_supply_quantity_g_capita_day,food_supply_kcal_capita_day,food_supply_quantity_kg_capita_yr,protein_supply_quantity_g_capita_day
0,4,Afghanistan,2018,36686.78,animal,Bovine Meat,1.16,14.92,2.67,1.12
1,4,Afghanistan,2018,36686.78,animal,"Butter, Ghee",2.58,23.35,1.14,0.02
2,4,Afghanistan,2018,36686.78,animal,Cream,0.03,0.31,0.04,0.00
3,4,Afghanistan,2018,36686.78,animal,Demersal Fish,0.00,0.17,0.15,0.03
4,4,Afghanistan,2018,36686.78,animal,Eggs,0.38,5.52,1.57,0.49

### 15. Créez des masques afin d’afficher un DataFrame qui ne contient que l’année 2018

In [ ]:
# display(df["year"] == 2018) 
# corrigé avec Hamza et Christian car ici n'affiche que le masque

df[df["year"] == 2018]
# ici affiche le résultat avec le masque

,country_code,country,year,pop_1000_hab,type,item,fat_supply_quantity_g_capita_day,food_supply_kcal_capita_day,food_supply_quantity_kg_capita_yr,protein_supply_quantity_g_capita_day
0,4,Afghanistan,2018,36686.78,animal,Bovine Meat,1.16,14.92,2.67,1.12
1,4,Afghanistan,2018,36686.78,animal,"Butter, Ghee",2.58,23.35,1.14,0.02
2,4,Afghanistan,2018,36686.78,animal,Cream,0.03,0.31,0.04,0.00
3,4,Afghanistan,2018,36686.78,animal,Demersal Fish,0.00,0.17,0.15,0.03
4,4,Afghanistan,2018,36686.78,animal,Eggs,0.38,5.52,1.57,0.49
...,...,...,...,...,...,...,...,...,...,...
28095,894,Zambia,2018,17835.89,vegetal,Tea (including mate),0.00,0.04,0.11,0.00
28096,894,Zambia,2018,17835.89,vegetal,Tomatoes and products,0.01,0.77,1.38,0.03
28097,894,Zambia,2018,17835.89,vegetal,"Vegetables, other",0.18,15.27,20.14,1.28
28098,894,Zambia,2018,17835.89,vegetal,Wheat and products,0.29,60.49,7.99,1.91
28099,894,Zambia,2018,17835.89,vegetal,Wine,0.00,0.40,0.18,0.00

### 16. Nous allons ajouter une nouvelle colonne à notre jeu de données : la zone géographique. 

### Pour cela rendez-vous sur le site de la FAO, votre objectif est de télécharger des nouveaux datasets pour ajouter les zones suivantes à votre jeu de données : 
'eastern_africa', 'middle_africa', 'northern_africa', 'southern_africa', 'western_africa', 'northern_america', 'central_america', 'caribbean', 'south_america', 'central_asia', 'eastern_asia', 'southern_asia', 'south_eastern_asia', 'western_asia', 'eastern_europe', 'northern_europe', 'southern_europe', 'western_europe', 'australia_new_zealand', 'melanesia', 'micronesia', 'polynesia'

In [ ]:
# df_reg = ['eastern_africa', 'middle_africa', 'northern_africa', 'southern_africa', 'western_africa', 
#           'northern_america', 'central_america', 'caribbean', 'south_america', 'central_asia', 
#           'eastern_asia', 'southern_asia', 'south_eastern_asia', 'western_asia', 'eastern_europe', 
#           'northern_europe', 'southern_europe', 'western_europe', 'australia_new_zealand', 'melanesia', 
#           'micronesia', 'polynesia']

# df['regions'] = pd.Series(df_reg)
# display(df)

`(ci-dessous)réponse Jérémy) :`

In [ ]:
list_reg = ['eastern_africa', 'middle_africa', 'northern_africa', 'southern_africa', 'western_africa', 
          'northern_america', 'central_america', 'caribbean', 'south_america', 'central_asia', 
          'eastern_asia', 'southern_asia', 'south_eastern_asia', 'western_asia', 'eastern_europe', 
          'northern_europe', 'southern_europe', 'western_europe', 'australia_new_zealand', 'melanesia', 
          'micronesia', 'polynesia']

In [ ]:
def transform_data(filename=None):
    df = pd.read_csv("geo_zone_m49/"+filename+".csv", usecols=["country_code"])
    df["zone"] = filename
    return df

def aggregate_df(list_filename=list_reg):
    list_df = []
    for zone in list_filename:
        temp = transform_data(zone)
        list_df.append(temp)

    df = pd.concat(list_df)
    return df

zone = aggregate_df

# ÉTAPE 3